@page
@using global::Delux.Pages.Extensions
@model Delux.Areas.Salon.Pages.HairTreatments.CreateModel

@{
    Layout = "_Create";
}
    <body>
        @Html.EditControlsFor(m => m.Item.Id)
        @Html.EditControlsFor(m => m.Item.Name)
        @Html.EditControlsFor(m => m.Item.Definition)
        @Html.EditControlsFor(m => m.Item.ValidFrom)
        @Html.EditControlsFor(m => m.Item.ValidTo)
        @Html.EditControlsFor(m => m.Item.Price)
        @Html.EditControlsFor(m => m.Item.Duration)
    </body>