@page
@using global::Delux.Pages.Extensions
@model Delux.Areas.Salon.Pages.Appointments.EditModel

@{
    Layout = "_Edit";
}

    <body>
        <input type="hidden" asp-for="Item.Id" />
        <input type="hidden" asp-for="Item.ClientId" />
        @Html.DisabledControlsFor(m => m.Item.Id)
        @Html.DisabledControlsFor(m => m.Item.ClientId)
        @Html.EditControlsForDropDown(m => m.Item.TreatmentId, Model.Treatments)
        @Html.EditControlsForDropDown(m => m.Item.TechnicianId, Model.Technicians)
        @Html.EditControlsFor(m => m.Item.AppointmentDate)
        @Html.EditControlsFor(m => m.Item.AppointmentTime)
    </body>