@page
@using global::Delux.Pages.Extensions
@model Delux.Areas.Salon.Pages.Technicians.CreateModel

@{
    Layout = "_Create";
}
<body>
    @Html.EditControlsFor(m => m.Item.Id)
    @Html.EditControlsForDropDown(m => m.Item.TechnicianTypeId, Model.TechnicianTypes)
    @Html.EditControlsFor(m => m.Item.Name)
    @Html.EditControlsFor(m => m.Item.WorkedYears)
    @Html.EditControlsFor(m => m.Item.AvailableDays)
</body>
