@page
@using global::Delux.Pages.Extensions
@model Delux.Areas.Salon.Pages.Technicians.DetailsModel

@{
    Layout = "_Details";
}


    <body>
        @Html.DisplayControlsFor(m => m.Item.Id)
        @Html.DisplayControlsFor(m => m.Item.TechnicianTypeId, Model.GetTechnicianTypeName(Model.Item.TechnicianTypeId))
        @Html.DisplayControlsFor(m => m.Item.Name)
        @Html.DisplayControlsFor(m => m.Item.WorkedYears)
        @Html.DisplayControlsFor(m => m.Item.AvailableDays)
    </body>

@section Details {
}