@page
@using global::Delux.Pages.Extensions
@model Delux.Areas.Salon.Pages.Technicians.EditModel

@{
    Layout = "_Edit";
}

<body>
<input type="hidden" asp-for="Item.Id" />
@Html.DisabledControlsFor(m => m.Item.Id)
@Html.EditControlsForDropDown(m => m.Item.TechnicianTypeId, Model.TechnicianTypes)
@Html.EditControlsFor(m => m.Item.Name)
@Html.EditControlsFor(m => m.Item.WorkedYears)
@Html.EditControlsFor(m => m.Item.AvailableDays)
</body>