@page
@using global::Delux.Pages.Extensions
@model Delux.Areas.Salon.Pages.Masseuses.CreateModel

@{
    Layout = "_Create";
}
<body>
@Html.EditControlsFor(m => m.Item.Id)
@Html.EditControlsFor(m => m.Item.Name)
@Html.EditControlsFor(m => m.Item.Definition)
@Html.EditControlsFor(m => m.Item.AvailableDays)
@Html.EditControlsFor(m => m.Item.WorkedYears)
</body>