@page
@using global::Delux.Pages.Extensions
@model Delux.Areas.Salon.Pages.Hairdressers.IndexModel

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}

@section Create {
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create?fixedFilter={Model.FixedFilter}&fixedValue={Model.FixedValue}"))
}

<body>
    <table class="table">
        <thead>
            @Html.TableHeaderFor(
                new Link(Html.DisplayNameFor(m => m.Item.Id), Model.GetSortString(m => m.Id, page)),
                new Link(Html.DisplayNameFor(m => m.Item.Name), Model.GetSortString(m => m.Name, page)),
                new Link(Html.DisplayNameFor(m => m.Item.AvailableDays), Model.GetSortString(m => m.AvailableDays, page)),
                new Link(Html.DisplayNameFor(m => m.Item.WorkedYears), Model.GetSortString(m => m.WorkedYears, page))
                )

        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                var selectedRow = "";
                //if (item.Id == Model.SelectedId)
                //{
                //    selectedRow = "alert-success";
                //    Model.LoadDetails(item);
                //}
                <tr class=@selectedRow>
                    @Html.TableRowWithSelectFor(
                        page,
                        item.Id,
                        Model.SortOrder,
                        Model.SearchString,
                        Model.PageIndex,
                        Model.FixedFilter,
                        Model.FixedValue,
                        Html.DisplayFor(modelItem => item.Id),
                        Html.DisplayFor(modelItem => item.Name),
                        Html.DisplayFor(modelItem => item.AvailableDays),
                        Html.DisplayFor(modelItem => item.WorkedYears))
                </tr>
            }
        </tbody>
    </table>
    @*@if (Model.Terms.Count != 0)
        {
            <h3>Terms for Selected Measure</h3>
            <table class="table">
                <tr>

                    <th>@(GetMember.DisplayName<MeasureTermView>(x => x.MasterId))</th>
                    <th>@(GetMember.DisplayName<MeasureTermView>(x => x.TermId))</th>
                    <th>@(GetMember.DisplayName<MeasureTermView>(x => x.Power))</th>
                    <th>@(GetMember.DisplayName<MeasureTermView>(x => x.ValidFrom))</th>
                    <th>@(GetMember.DisplayName<MeasureTermView>(x => x.ValidTo))</th>
                </tr>

                @foreach (var item in Model.Terms)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.MasterId)</td>
                        <td>@Html.DisplayFor(modelItem => item.TermId)</td>
                        <td>@Html.DisplayFor(modelItem => item.Power)</td>
                        <td>@Html.DisplayFor(modelItem => item.ValidFrom)</td>
                        <td>@Html.DisplayFor(modelItem => item.ValidTo)</td>
                    </tr>
                }

            </table>
        }**@
</body>