@page
@using Delux.Pages.Extensions
@using Delux.Data.Treatment
@using Delux.Aids
@model Delux.Areas.Salon.Pages.Treatments.FacialTreatments.DetailsModel

@{
    Layout = "_Details";
}


    <body>
        @Html.DisplayControlsFor(m => m.Item.Id)
        @Html.DisplayControlsFor(m => m.Item.Name)
        @Html.DisplayControlsFor(m => m.Item.Definition)
        @Html.DisplayControlsFor(m => m.Item.ValidFrom)
        @Html.DisplayControlsFor(m => m.Item.ValidTo)
        @Html.DisplayControlsFor(m => m.Item.Price)
        @Html.DisplayControlsFor(m => m.Item.Duration)
    </body>

@section Details {
}