@page
@using global::Delux.Pages.Extensions
@model Delux.Areas.Salon.Pages.MassageTreatments.EditModel

@{
    Layout = "_Edit";
}

<body>
<input type="hidden" asp-for="Item.Id" />
@Html.DisabledControlsFor(m => m.Item.Id)
@Html.EditControlsFor(m => m.Item.Name)
@Html.EditControlsFor(m => m.Item.Definition)
@Html.EditControlsFor(m => m.Item.ValidFrom)
@Html.EditControlsFor(m => m.Item.ValidTo)
@Html.EditControlsFor(m => m.Item.Price)
@Html.EditControlsFor(m => m.Item.Duration)
</body>